<header>
  <a href="/"><span>Members</span>Only</a>
  <nav>
    <% if (locals.currentUser) { %>
    <!-- prettier-ignore -->
    <% if (locals.currentUser.member === false) {%>
    <a href="/join">Become A Member</a>
    <%}%>
    <a href="/message">New Message</a>
    <button id="account-button">
      <span>Account</span><i class="fa-solid fa-angle-down"></i>
    </button>
    <div id="account-details" class="account-details">
      <div>
        <p>Signed in as</p>
        <p><%= locals.currentUser.firstName %></p>
        <p><%= locals.currentUser.email %></p>
      </div>
      <div>
        <p>Membership status</p>
        <p>
          <%= locals.currentUser.member === false ? "Not A Member" : "Member" %>
        </p>
      </div>
      <div><a href="/logout">Logout</a></div>
    </div>
    <% } else { %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout"></a>
    <% } %>
  </nav>
</header>
<script src="/javascripts/accountScript.js" defer></script>
