<head>
  <script
    src="https://kit.fontawesome.com/b68b3f9e8e.js"
    crossorigin="anonymous"
  ></script>
  <title>Members Only</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/images/profile.ico" />
  <title><%= locals.title %></title>
</head>
