<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <div class="content">
      <form action="/join" method="POST">
        <label for="password">Secret Member Password</label>
        <input name="password" type="text" />
        <button>Join</button>
        <p>Secret password can be found <a href="">here</a></p>
      </form>

      <% if (locals.errors) {%> <% locals.errors.forEach((error) => { %>
      <p><%= error.msg %></p>
      <% }); %> <% } %>
    </div>
  </body>
</html>
