<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2>Become A Member</h2>
    <div class="content">
      <form action="/join" method="POST">
        <div class="single">
          <label for="password">Secret Member Password</label>
          <input name="password" type="text" />
        </div>
        <button class="button submit">Join</button>
        <p class="password">
          Secret password can be found
          <a href="https://github.com/llpingll/members-only/blob/main/README.md"
            >here</a
          >
        </p>
      </form>

      <% if (locals.errors) {%> <% locals.errors.forEach((error) => { %>
      <p><%= error.msg %></p>
      <% }); %> <% } %>
    </div>
  </body>
</html>
