<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <h2>Log In</h2>
    <div class="content">
      <form action="/login" method="POST">
        <div class="single">
          <label for="username">Username</label>
          <input
            name="username"
            placeholder="email"
            type="text"
            value="<%=locals.email%>"
          />
        </div>
        <div class="single">
          <label for="password">Password</label>
          <input name="password" type="password" />
        </div>
        <button class="button submit">Log In</button>
      </form>
    </div>
  </body>
</html>
