*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BODY */
body {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* HEADER */
header {
  font-size: 22px;
  font-weight: 700;
  border: red 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header :first-child span {
  color: blueviolet;
}

nav {
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* account button */
.account-details {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.account-details.visible {
  display: block;
}

/* CONTENT */
.content {
  border: blue 2px solid;
  display: flex;
  justify-content: center;
}
